@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller_Std_Bd.ttf"); }
@font-face {
  font-family: "Aller-ll";
  src: url("../fonts/Aller_Std_LT.ttf"); }
@font-face {
  font-family: "Aller-l";
  src: url("../fonts/Aller_Std_Rg.ttf"); }
@font-face {
  font-family: "Aller-It";
  src: url("../onts/Aller_Std_lt.ttf"); }
body {
  margin: 0;
  padding: 0; }

header {
  background-color: #242424;
  width: 100%;
  min-width: 1050px; }
  header .container {
    width: 960px;
    margin: 0 auto;
    height: 45px;
    padding: 0; }
    header .container .row {
      margin: 0;
      height: 100%;
      padding-left: 10px; }
      header .container .row a {
        padding-top: 16px; }
        header .container .row a .logo {
          text-transform: uppercase;
          color: #57c5a0;
          text-decoration: none;
          font-size: 1.8em;
          letter-spacing: -0.08em;
          position: absolute;
          margin-top: 6px; }
      header .container .row .search, header .container .row .login {
        position: relative;
        float: right; }
        header .container .row .search a, header .container .row .login a {
          color: #6e6e6e; }
      header .container .row .login {
        border-left: 1px solid #6e6e6e;
        border-right: 1px solid #6e6e6e;
        height: 100%;
        width: 140px;
        margin-right: 7px; }
        header .container .row .login a {
          position: absolute;
          margin: auto 20px;
          color: #6e6e6e;
          font-family: 'Aller';
          font-size: 11px; }
      header .container .row .search {
        font-size: 13px;
        margin: auto 24px;
        top: 15px; }

nav {
  height: 60px;
  background-color: #fff !important;
  margin-bottom: 0 !important; }
  nav .container {
    border-right: 1px solid #ecebe6;
    border-left: 1px solid #ecebe6;
    margin: 0 auto;
    padding: 0;
    width: 946px;
    height: 60px; }
    nav .container .menu {
      float: left;
      height: 100%;
      width: auto; }
      nav .container .menu a {
        color: #242424;
        display: inline-block;
        border-right: 1px solid #ecebe6;
        height: 100%;
        font-family: 'Aller-l';
        font-size: 17px;
        text-transform: capitalize;
        padding: 19px 18px;
        margin-left: 4px; }
    nav .container .cart {
      float: right; }
      nav .container .cart span {
        margin: 0;
        padding: 0;
        display: inline-block;
        border-left: 1px solid #ecebe6;
        height: 60px;
        width: 90px; }
        nav .container .cart span img {
          margin: 25px 0px 25px 22px; }
        nav .container .cart span .star, nav .container .cart span .cart {
          display: inline-block;
          height: 20px;
          width: 20px;
          border-radius: 3px;
          color: #fff;
          text-align: center; }
        nav .container .cart span .cart {
          background-color: #57c5a0;
          margin: 20px 23px 0 0; }
        nav .container .cart span .star {
          background-color: #adadad;
          margin: 12px 0px 12px 11px; }

main {
  background-image: url("../img/top-background.jpg");
  width: 100%;
  min-width: 1050px;
  height: 460px; }
  main .container {
    background-image: url("../img/top-image.jpg");
    width: 1050px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: -66px 0; }
  main .top {
    padding-top: 70px;
    margin-left: 553px;
    width: 430px;
    height: 100%; }
    main .top h1 {
      margin-top: 12px;
      font-size: 39px;
      font-family: 'Aller-l'; }
    main .top p {
      margin-top: -8px;
      font-size: 19.7px;
      font-family: 'Aller-l';
      line-height: 26px; }
    main .top .box {
      padding-top: 3px; }
      main .top .box span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px;
        text-align: center;
        background-color: #fff; }
        main .top .box span img {
          padding-top: 14px;
          margin: 0px; }

.g_nav {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1050px;
  height: 90px;
  background-color: #2e2e2e !important; }
  .g_nav .nav {
    margin: 0 auto;
    width: 950px; }
    .g_nav .nav .scroll {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 7px;
      margin-left: -8px;
      height: 10px;
      width: 960px;
      background-color: #000; }
      .g_nav .nav .scroll .active {
        background-color: #57c5a0; }
      .g_nav .nav .scroll span {
        margin-top: 2px;
        vertical-align: top;
        display: inline-block;
        width: 20%;
        height: 6px;
        border-right: 3px solid #2e2e2e; }
      .g_nav .nav .scroll span + span + span + span + span {
        border: none; }
    .g_nav .nav .item {
      color: #fff;
      display: inline-block;
      width: 186px;
      text-align: -webkit-center; }
      .g_nav .nav .item h2 {
        color: #acacac;
        padding-top: 14px;
        margin: 0;
        font-size: 18px;
        font-family: 'Aller-l';
        width: 90%; }
      .g_nav .nav .item p {
        color: #787878;
        width: 170px;
        font-size: 14px;
        font-family: 'Aller-l'; }
    .g_nav .nav .active h2 {
      color: #fff; }
    .g_nav .nav .active p {
      color: #acacac; }

.price, .sup {
  width: 68px;
  height: 67px;
  background-color: #57c5a0;
  text-align: center;
  color: #fff;
  font-family: 'Aller';
  font-size: 13px;
  padding-top: 26px; }

.special {
  width: 100%;
  height: 230px;
  min-width: 1050px;
  background-color: #242424; }
  .special .row {
    margin: 0 auto;
    width: 960px; }
    .special .row div {
      padding: 26px 15px; }
      .special .row div:hover .lable {
        width: 300px;
        height: 180px;
        margin: 0;
        padding: 0; }
        .special .row div:hover .lable p {
          margin-top: 72px; }
      .special .row div .lable {
        margin-top: 60px;
        margin-left: 34px;
        width: 230px;
        position: absolute;
        height: 60px;
        background-color: #000;
        opacity: 0.8; }
        .special .row div .lable p {
          font-family: 'Aller-ll';
          font-size: 25px;
          text-align: center;
          color: #fff;
          margin-top: -14px; }
    .special .row img {
      width: 300px;
      height: 180px; }

.arrivals {
  height: 1002px;
  width: 100%;
  min-width: 1050px;
  background-color: #ebe7df; }
  .arrivals .add {
    width: 960px;
    margin: 0 auto; }
  .arrivals .row + .row + .row {
    margin-top: 11px; }
  .arrivals .row + .row + .row + .row {
    margin-top: 0; }
  .arrivals .row {
    width: 960px;
    margin: 0 auto; }
    .arrivals .row .box {
      display: none;
      margin-left: 0;
      margin-top: 0;
      position: absolute; }
    .arrivals .row div {
      /*			&:hover{
      				.box{
      					display:block;
      				}
      			}*/ }
    .arrivals .row h1 {
      display: inline-block;
      font-size: 25px;
      font-family: 'Aller-ll';
      margin-left: 8px;
      margin-top: 30px; }
    .arrivals .row span {
      padding-top: 4px;
      margin-top: 28px;
      margin-right: 8px;
      float: right;
      position: relative;
      width: 100px;
      height: 30px;
      text-align: center;
      border: 1px solid #bcb5a7; }
      .arrivals .row span p {
        font-family: 'Aller-ll';
        font-size: 15px;
        color: #bcb5a7;
        margin: 0; }
    .arrivals .row img {
      margin-top: 20px;
      width: 300px;
      height: 270px; }
    .arrivals .row hr {
      position: absolute;
      margin-top: -51px;
      border-color: #cccccc;
      width: 94%; }
    .arrivals .row p {
      margin-top: -42px;
      margin-left: 88px;
      font-family: 'Aller-ll';
      font-size: 19px; }
    .arrivals .row .price {
      position: absolute;
      margin-top: -67px;
      margin-left: 9px; }
    .arrivals .row .sup {
      padding-top: 25px;
      position: absolute;
      margin-top: -271px;
      margin-left: 219px; }
    .arrivals .row #orange {
      padding-top: 17px;
      background-color: #f27e4b; }
    .arrivals .row #black {
      background-color: #000; }
  .arrivals hr {
    border-color: #bcb5a7;
    width: 940px;
    margin-top: 50px; }
  .arrivals .addon .box {
    height: 185px;
    background-color: #dfdbd4; }
  .arrivals .addon h2 {
    text-transform: uppercase;
    font-family: 'Aller';
    font-size: 15px;
    margin: 5px 0 0 12px;
    letter-spacing: -0.5px;
    padding-top: 31px; }
  .arrivals .addon p {
    font-family: 'Aller-l';
    font-size: 12px;
    margin: 13px;
    line-height: 16px; }
  .arrivals .addon span {
    margin-right: 10px;
    width: 36px;
    height: 36px;
    background-color: #57c5a0;
    color: #fff;
    border: none;
    float: left;
    margin-left: 15px;
    margin-top: 18px;
    line-height: 14px; }
  .arrivals .addon .col-md-6 h3 {
    display: inline-block;
    font-family: 'Aller';
    font-size: 15px;
    margin-top: 20px;
    padding: 0; }
  .arrivals .addon .col-md-6 p {
    margin-top: -9px;
    margin-bottom: 1px; }

footer {
  height: 365px;
  width: 100%;
  min-width: 1050px;
  background-color: #242424; }
  footer .row {
    width: 960px;
    margin: 0 auto; }
    footer .row #flickr {
      margin-top: 9px;
      margin-left: 15px; }
    footer .row a {
      color: #57c5a0; }
    footer .row h3 {
      display: inline-block;
      font-family: 'Aller';
      font-size: 14px;
      margin-top: 50px;
      margin-left: 39px;
      padding: 0;
      color: #7d7d7d; }
    footer .row p {
      font-family: 'Aller-ll';
      margin-top: 7px;
      margin-left: 38px;
      color: #979797;
      text-align: justify;
      line-height: 18px;
      font-size: 12px; }
    footer .row .date {
      margin-top: -2px;
      color: #c4c5bf; }
  footer hr {
    border-color: #1c1c1c;
    width: 940px; }
  footer .go {
    margin-top: 38px; }
    footer .go input {
      margin-left: 37px;
      border: 0px;
      border-radius: 0;
      background-color: #2e2e2e;
      color: #7d7d7d;
      font-family: 'Aller-ll';
      font-size: 12px; }
      footer .go input:focus {
        box-shadow: none;
        border: 0px;
        background-color: #7d7d7d;
        color: #2e2e2e; }
    footer .go button {
      height: 34px;
      width: 38px;
      border: none;
      border-radius: 0;
      background-color: #7d7d7d; }
      footer .go button:hover {
        background-color: #a4a4a4; }
    footer .go .social {
      float: right;
      margin-right: 47px; }
      footer .go .social div {
        display: inline-block;
        width: 36px;
        height: 36px;
        overflow: hidden;
        margin-left: 4px; }
    footer .go img {
      margin-left: 0; }
      footer .go img:hover {
        margin-left: -36px; }
  footer .bottom {
    margin-top: 39px;
    height: 90px;
    width: 100%;
    min-width: 1050px;
    background-color: #2e2e2e; }
    footer .bottom .row {
      width: 960px;
      margin: 0 auto; }
      footer .bottom .row div {
        margin-left: 12px;
        margin-top: 25px;
        display: inline-block; }
        footer .bottom .row div p {
          letter-spacing: 0.7px;
          font-size: 12px;
          color: #979797;
          margin: 0; }
      footer .bottom .row div + div {
        margin-top: 34px;
        float: right; }
        footer .bottom .row div + div a {
          color: #979797; }

/*# sourceMappingURL=style.css.map */
